<div data-controller="create-activity">
  <div class="imageinfo">
    <%= image_tag "https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png", id:"imginfo"%>
  </div>
  <h5 class="card-titleinfo"><%= control_point.name%></h5>
  <div class="cardinfo" style="width: 75%;">
    <p class="card-textinfo"><strong><%= control_point.user.nickname%> (lvl <%=control_point.user.xp %>)</strong> is controling this territory </p>
    <p class="card-textinfo">You need to walk <%= control_point.difficulty%> before pretending to claim it </p>
      <% if activity%>
        <% if activity.distance < control_point.difficulty %>
          <%= link_to "Cancel conquest", activity_path(activity), method:"DELETE", class:"btn btn-dark mx-2" %>
        <% elsif activity.distance > control_point.difficulty %>
          <%= link_to "CAPTURE CONTROL POINT", update_control_point_path(current_user, control_point, activity: activity), method: "PATCH" %>
        <% else %>
        <p> Walk more </p>
        <% end %>
      <% else %>
        <%= link_to "START CAPTURE", control_point_activities_path(current_user, control_point_id: control_point.id), method: "POST", class:"btn btn-info2"%>
      <% end %>
  </div>
<div>
