<div data-controller="create-activity"
    data-update-activity-longitude-value="<%=@control_point.longitude%>"
    data-update-activity-latitude-value="<%=@control_point.latitude%>"
    data-update-activity-difficulty-value="<%=@control_point.difficulty%>">
  <% if control_point.user_id == current_user.id %>
    <div class="imageinfo">
      <%= image_tag "https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png", id:"imginfo2"%>
    </div>
  <% else %>
    <div class="imageinfo">
      <%= image_tag "https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png", id:"imginfo"%>
    </div>
  <% end %>
  <h5 class="card-titleinfo"><%= control_point.name%></h5>
  <div class="cardinfo" style="width: 75%;">
    <div class="card-textinfo">
      <h6><span class="card-user-name"><strong><%= control_point.user.nickname%> (lvl <%=control_point.user.xp %>)</strong></span></h6>
      <p>is controling this territory </p>
      <p>You need to walk </p>
      <div class="card-meters-to-walk-info">
        <h6><%= control_point.difficulty%>m</h6>
      </div>
      <p>before pretending to claim it </p>
    </div>
      <div data-controller="alerts">
      <div data-alerts-target>
      <% if control_point.user_id == current_user.id %>
        <p class="card-owned-territory-info"> You own this territory </p>
      <% else %>
        <% if activity%>
          <% if activity.distance < control_point.difficulty %>
            <div class= "w-100 overflow-hidden" >
              <%= image_tag("giphy2.gif", id:"gifinfo")%>
            </div>
            <i class="far fa-flag" style=color:white;></i>
            <button data-action= "click->alerts#cancel" class="btn btn-dark mx-1">CANCEL CONQUEST</button>
            <i class="far fa-flag" style=color:white;></i>
            <%= link_to "", activity_path(activity), method:"DELETE", id: "delete-link", class: "hidden" %>
          <% elsif activity.distance > control_point.difficulty %>
            <button data-action= "click->alerts#capture" class="btn btn-dark mx-2">CAPTURE CONTROL POINT</button>
            <%= link_to "", control_point_path(current_user, control_point_id: control_point.id,
                          activity: activity), method: "PATCH", id: "update-link", class: "hidden" %>
          <% else %>
            <p> Walk more </p>
          <% end %>
        <% else %>
          <%= link_to "START CAPTURE", control_point_activities_path(current_user, control_point_id: control_point.id), method: "POST", class:"btn btn-info2"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
