<h2> <%= control_point.name%></h2>
<div data-controller="create-activity">
  <p><strong><%= control_point.user.nickname%> (lvl <%=control_point.user.xp %>)</strong> is controling this territory </p>
  <p> You need to walk <%= control_point.difficulty%> before pretending to claim it </p>
  <% unless current_user.has_an_activity_going_on?(control_point)%>
    <%= link_to "START WALKING BITCH", control_point_activities_path(current_user, control_point_id: control_point.id), method: "POST", class:"btn btn-danger"%>
  <% end %>
</div>
