<div data-controller="create-activity"
     data-update-activity-longitude-value="<%=@control_point.longitude%>"
     data-update-activity-latitude-value="<%=@control_point.latitude%>"
     data-update-activity-difficulty-value="<%=@control_point.difficulty%>">
  <div class="imageinfo">
    <%= image_tag "https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png", id:"imginfo"%>
  </div>
  <h5 class="card-titleinfo"><%= control_point.name%></h5>
  <div class="cardinfo" style="width: 75%;">
    <p class="card-textinfo"><strong><%= control_point.user.nickname%> (lvl <%=control_point.user.xp %>)</strong> is controling this territory </p>
    <p class="card-textinfo">You need to walk <%= control_point.difficulty%>m before pretending to claim it </p>
      <div data-controller="alerts">
      <div data-alerts-target>
          <% if control_point.user_id == current_user.id %>
            <p> You own this territory </p>
            <% else %>
              <% if activity%>
                <% if activity.distance < control_point.difficulty %>
                <button data-action= "click->alerts#cancel" class="btn btn-dark mx-2">CANCEL CONQUEST</button>
                <%= link_to "", activity_path(activity), method:"DELETE", id: "delete-link", class: "hidden" %>
                <% elsif activity.distance > control_point.difficulty %>
                  <button data-action= "click->alerts#congrats" class="btn btn-dark mx-2">CAPTURE CONTROL POINT</button>
                    <%= link_to "", control_point_path(current_user, control_point_id: control_point.id,
                     activity: activity), method: "PATCH", id: "update-link", class: "hidden" %>
                  </div>
                <% else %>
                  <p> Walk more </p>
              <% end %>
            <% else %>
              <%= link_to "START CAPTURE", control_point_activities_path(current_user, control_point_id: control_point.id), method: "POST", class:"btn btn-info2"%>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
<div>
<div>
