<div  data-controller="navbar">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
      <img src="https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png" href="#" class="shine" id="logoem" style="display: block;margin-left: -8px;margin-right: auto;min-width: 80px;">
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
            <%# <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          <%# </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item dropdown">
            <%= image_tag "https://i.postimg.cc/wBhzNQLm/MINEAVATAR.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="dropdown-item" data-action="click->navbar#showProfil">Profil</p>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="close", data-navbar-target="showProfil">
    <div class="container-fluidpd">
    <% if current_user != nil %>
    <div class="cardpd" style="width: 100%;">
      <div class="imagepd">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/BenSeb33", id:"avatarpd"%>
      </div>
      <h5 class="card-titlepd"><%= current_user.email  %></h5>
      <div class="card-bodypd">
      <p class="card-textpd">XP :9000 points</p>
      <p class="card-textpd">Total walk :3 kilometers</p>
      <ul class="ulpd">
        <a href="/" class="btn btn-info">close</a>
      </ul>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
