<div data-controller="update-activity"
     data-update-activity-itinary-value="<%= @activity.itinary.is_a?(Array) ? @activity.itinary : [] %>"
     data-update-activity-distance-value="<%=@activity.distance%>"
     >
  <div data-controller="infobox" data-action="marker-clicked@window->infobox#revealInfos" >
      <div class="position-relative">
        <div id="map" class="vh-100" data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-action='click->infobox#hiddenData'>
        </div>
      </div>
      <div class="infos" data-infobox-target="infos"></div>
      <div id="distance" class="distance-container" data-update-activity-target = 'distance'></div>
  </div>


  <%= simple_form_for [@control_point, @activity],
                      data: {
                        update_activity_target: 'form',
                        action: 'submit->update_activity#update'
                        },
                      html: { class: 'd-none' } do |f| %>
  <%= f.input :itinary %>
  <%= f.input :distance %>
  <%= f.input :status , default: 'Pending'%>
  <%= f.button :submit %>
  <% end %>
</div>
